table{
  background-color: ##72FEC5;
}


#P1 {
  border-radius: 8px;
}
#Enter {
  border-radius: 8px;
}
#Among{
  border-radius: 8px;
}
#Intro {
  border-radius: 8px;
}
#Thumb {
  border-radius: 8px;
}
#Ty {
  border-radius: 8px;
}
